body {
  background-color: #005792;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3 {
  color: #005792;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
}

header {
  line-height: 15px;
}

li {
  list-style: none;
}

footer {
  text-align: center;
  margin: 20px auto;
}

.box {
  background: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  margin: 0 auto;
  max-width: 600px;
  padding: 5px 20px 10px;
}

header.box {
  margin-top: 45px;
}

div.box {
  margin-top: 10px;
}

form {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 15px;
  width: auto;
}

.split-text {
  display: flex;
  justify-content: space-between;
}

.search-input,
.search-button {
  background-color: #005792;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
}

.search-input {
  width: 40%;
  min-width: 150px;
}

::placeholder {
  color: #00bbf0;
}

.search-button {
  transition: all 200ms ease-in-out;
  width: 20%;
  margin: 0;
  min-width: 100px;
}

.search-button:hover {
  background-color: #00bbf0;
  cursor: pointer;
  color: #00204a;
}
